.jumbotronhomeindex {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: white;
    background-color: blue;
}

    .jumbotronhomeindex h1,
    .jumbotronhomeindex .h1 {
        color: inherit;
    }

    .jumbotronhomeindex p {
        margin-bottom: 15px;
        font-size: 21px;
        font-weight: 200;
    }

    .jumbotronhomeindex > hr {
        border-top-color: #d5d5d5;
    }

.container .jumbotronhomeindex,
.container-fluid .jumbotronhomeindex {
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 6px;
}

.jumbotronhomeindex .container {
    max-width: 100%;
}

@media screen and (min-width: 768px) {
    .jumbotronhomeindex {
        padding-top: 48px;
        padding-bottom: 48px;
    }

    .container .jumbotronhomeindex,
    .container-fluid .jumbotronhomeindex {
        padding-right: 60px;
        padding-left: 60px;
    }

    .jumbotronhomeindex h1,
    .jumbotronhomeindex .h1 {
        font-size: 63px;
    }
}
